{% extends "layout.html" %}
{% block scripts %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    $("#avatar").attr("src",$('option:selected', $("#user_id")).attr('avatar'));
                    var chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        $.getJSON("/api/v1/presence_weekday/"+selected_user, function(result) {
                            var data = google.visualization.arrayToDataTable(result);
                            var options = {};
                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.PieChart(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}
{% block content %}
    <h2>Presence by weekday</h2>
    <p>
        <select id="user_id" style="display: none">
            <option value="">--</option>
        </select>
        <div><img id="avatar" src=""/></div>
        <div id="chart_div" style="display: none">
        </div>
        <div id="loading">
            <img src="/static/img/loading.gif" />
        </div>
    </p>
{% endblock %}
